[Unit]
Description=PiRowFlo OLED screen, joystick and 3 buttons
After=network.target

[Service]
User=#USER#
Group=#USER#
ExecStart=#PYTHON3# #REPO_DIR#/src/adapters/screen/oled.py
KillMode=process

[Install]
WantedBy=multi-user.target