[Unit]
Description=Supervisor process control system for UNIX
Documentation=http://supervisord.org
After=network.target

[Service]
ExecStart=#SUPERVISORD_PATH# -n -c #REPO_DIR#/services/supervisord.conf
ExecStop=#SUPERVISORCTL_PATH# $OPTIONS shutdown
ExecReload=#SUPERVISORCTL_PATH# $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=50s

[Install]
WantedBy=multi-user.target