[Unit]
Description=set bluetooth option for apple specifications

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=#REPO_DIR#/services/update-bt-cfg.sh

[Install]
WantedBy=multi-user.target